################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
*.user
/.vs
/odata/obj
/odata/bin
/odata.common/bin
/odata.common/obj